*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --clr-dark-slate: #313644;
    --clr-beige: #d4c6bad3;
    --clr-white: #ffffff;
    --clr-red: #fc0000;
    --clr-amber: #ffbb00;
    --clr-green: #7bff00;

    --clr-transparent-white: #ffffff7e;
    --clr-transparent-red: #fc00007e;
    --clr-transparent-amber: #ffbb007e;
    --clr-transparent-green: #7bff007e;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    border: 1px solid var(--clr-dark-slate);
    display: flex;
    height: 100vh;
    
    

}

h2 {
    font-size: 30pt;
}


img {
    vertical-align: middle;
    height: 3rem;
   
   
    
}


input {
    margin-top: 0.2rem;;
    width: 10rem;
    height: 2rem;
    align-self: center;
    text-align: center;
    font-size: 10pt;
    background-color: var(--clr-dark-slate);
    color: var(--clr-white);
    border: solid;
    
}


.sidebar {
    border-right: 5px solid var(--clr-white);
    background-color: var(--clr-beige);
    width: 20rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;;
}

.sidebar__button {
    margin-top: 0.2rem;
    background: none;
    border: none;
    font-size: 15pt;
    text-align: center;
    vertical-align: middle;
    color: var(--clr-white);
    
    

}

.sidebar > hr {
    margin-top: 0.4rem;
    color: var(--clr-dark-slate);
}


/* Main */

.main {
    background-color: var(--clr-dark-slate);
    width: 100%;
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

/*
.main__task {
    display: flex;
    background-color: #ccc;
    color: var(--clr-dark-slate);
    width: 20rem;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
}
*/

.main__add-button {
    margin-top: 1rem;
    padding: 0.2rem;
    font-size: 20pt;
}



.main__task-list {
    margin-top: 2rem;
    background-color: var(--clr-dark-slate);
    border-radius: 10px;
    width: 98%;
    height: 2rem;
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.main__task-list__priority-button {
    width: 2rem;
    height: 2rem;
    border-radius: 25px;
    border: 2px solid var(--clr-white);
    background-color: var(--clr-transparent-white);
    
}

.main__task-list__remove-button {
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: #ac1919;
    border-radius: 5px;
    border: none
}

.main > hr {
    margin-top: 0.5rem;
    width: 98%;
    color: var(--clr-white);
}

.main__submit-button {
    background-color: var(--clr-white);
    border-radius: 5px;
    border: 1px solid black;
    width: 10rem;
    padding: 0rem 0.5rem;
    font-size: 15pt;
    margin-top: 0.5rem;

}

/* Sidebar */

.sidebar__error {
    color: var(--clr-red);
    display: none;
}

.sidebar li {
    margin-top: 1rem;
    list-style: none;
    font-size: 20pt;
}

.sidebar li::before {
    content: url(./cover.svg);
    vertical-align: middle;
    display: inline-block;
    
}


/* Hovers */

.sidebar__button:hover {
    cursor: pointer;
    background-color: #313644;
    border-radius: 5px;
    
}

.sidebar li:hover,
.sidebar li:focus {
    cursor: pointer;
    color: white
}

.main__submit-button:hover {
    cursor: pointer;
    background-color: var(--clr-dark-slate);
    color: var(--clr-white);
}

.main__task-list__priority-button:hover {
    cursor: pointer;
    
}


.main__task-list__remove-button:hover {
    cursor: pointer;
    background-color: var(--clr-red);
}




/* Other */

#taskName {
    margin-top: 1rem;
}




/* Footer */


.footer {
    height: 1.6rem;
    text-align: center;
}

.attribution a:hover {
    color:rgb(255, 255, 255);
    background-color: black;
}

